*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: #FD6A0A;

}

/* banner styles */


.banner{
    display: flex;
    justify-content:space-between;
    align-self:center;
    margin: 0 200px;
}
.banner-title{
    font-weight: 350;
    font-size: 35px;
    margin-bottom: 20px;
    position: absolute;
    width: 1600px;
    height: 808px;
    left: 1200px;
    top: 208px;
   

}
.banner-description{
    position: absolute;
    width: 525px;
    height: 228px;
    left: 1200px;
    top: 400px;

}

.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20PX;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6A0A;
    position: absolute;
    left: 1200px;
    top: 500px;

}

/* main */
.main{
    max-width: 940px;
    margin: 0 auto;
}

.image {
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;

}
.text{
    position: absolute;
    width: 439px;
    height: 408px;
    left: 1241px;
    top: 1184px;
}

/* About section */

.about{
    margin-top: 1000px;
    background: #1752c0;
    border-radius: 10px;
    padding: 120px 200px;

}
.section-title{
    text-align: center;
    margin-bottom: 30px;


}

.section-description{
    color: beige;
    font-size: 18px;

}

/* my plans */


.my-planing{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    

}

.my-plans{
    margin-top: 150px;
}

.skills-container{
    display: flex;
    gap: 40px;
    
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}

 /* gradient */

 .gradients{
    display: flex;
    gap: 40px;
 }

 .gradient-title{
    color: #FFFFFF;
    font-weight: 350;
    font-size: 35px;
    margin-bottom: 20px;
    position: absolute;
    width: 1600px;
    height: 808px;
    left: 600px;
    top: 2850px;
 }

 .gradient-button{
    color: #380add;
    font-size: 20PX;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #e2eaf5ce;
    position: absolute;
    left: 600px;
    top: 2960px;

 }

.contact{
    display: flex;
    gap: 100px;
    background:#f0ebec;
    padding: 120px 200px;

}

.contact-title{
    font-weight: 1300;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}
 
.contact input, textarea{
    margin-bottom: 24px;
    border:0;
    width: 100;
    padding: 18px 30px;
}

input{
    height: 64px;
}
